.light{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    color: black;
}
.dark{
    background-color: black;
    color: azure;
    display: flex;
    justify-content: space-between;
}